<!DOCTYPE html>
<html class="mdc-typography">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>GeekInc Remote Regie</title>
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="assets/css/programs.css">
    <style>
        :root {
            --mdc-theme-primary: #005976; /* customize MDL color */
            --mdc-theme-secondary: #ff4200;
        }
    </style>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="https://unpkg.com/vue@2.4.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
</head>
<body>
    <div id="app">
        <aside class="mdc-temporary-drawer mdc-typography">
            <nav class="mdc-temporary-drawer__drawer">
                <header class="mdc-temporary-drawer__header">
                    <div class="mdc-temporary-drawer__header-content">
                        GeekInc Remote Regie
                    </div>
                </header>
                <nav id="icon-with-text-demo" class="mdc-temporary-drawer__content mdc-list">
                  <a class="mdc-list-item mdc-temporary-drawer--selected" href="/programs.html">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">event</i>Programs
                  </a>
                  <a class="mdc-list-item" href="/xsplit.html">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">tv</i>Xsplit
                  </a>
                  <a class="mdc-list-item" href="/admin.html">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">build</i>Admin
                  </a>
                  <a class="mdc-list-item" href="/api" target="_blank">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">code</i>API
                  </a>
                </nav>
            </nav>
        </aside>

        <div class="content">
            <div role="progressbar" class="mdc-linear-progress">
                <div class="mdc-linear-progress__buffering-dots"></div>
                <div class="mdc-linear-progress__buffer"></div>
                <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                    <span class="mdc-linear-progress__bar-inner"></span>
                </div>
                <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                    <span class="mdc-linear-progress__bar-inner"></span>
                </div>
            </div>
        
            <header class="mdc-toolbar mdc-toolbar--fixed mdc-toolbar--waterfall">
                <div class="mdc-toolbar__row">
                    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                        <a class="material-icons mdc-toolbar__icon--menu menu" aria-label="Menu" alt="Menu">menu</a>
                        <span class="mdc-toolbar__title">{{ programs.length }} Programs</span>
                    </section>
                    <section class="mdc-toolbar__section mdc-toolbar__section--align-end mdc-toolbar__section--shrink-to-fit">
                        <a class="material-icons mdc-toolbar__icon mdc-ripple-surface mdc-ripple-surface--primary" href="/api#!/Programs/get_programs" target="_blank" aria-label="API" alt="API">code</a>
                    </section>
                </div>
            </header>
        
            <main class="mdc-toolbar-fixed-adjust">
                <div v-if="programs.length > 0" class="programs">
                    <program v-for="program in programs" :key="program.name" :name="program.name" :created="program.created" :thumbnail="program.logo"></program>
                </div>
                <div class="no-programs" v-else></div>
                <div class="mdc-snackbar mdc-snackbar--align-start">
                    <div class="mdc-snackbar__text"></div>
                    <div class="mdc-snackbar__action-wrapper">
                        <button type="button" class="mdc-button mdc-snackbar__action-button"></button>
                    </div>
                </div>
            </main>

            <button class="mdc-fab material-icons fab" aria-label="add" data-mdc-auto-init="MDCRipple" v-on:click="addProgram">
                <span class="mdc-fab__icon">
                    add
                </span>
            </button>
        </div>
    </div>

    <template id="program-template">
        <div class="mdc-card mdc-card--theme-dark program" :style="thumbnail ? 'background-image: url(\'' + thumbnail + '\');' : null">
            <section class="mdc-card__primary">
                <h1 class="mdc-card__title mdc-card__title--large">{{ name }}</h1>
                <h2 class="mdc-card__subtitle">Added {{ created | formatDate }}</h2>
            </section>
            <section class="mdc-card__actions">
                <button class="mdc-button mdc-button--compact mdc-card__action" v-on:click="$parent.deleteProgram(name)">Delete</button>
            </section>
        </div>
    </template>
    <script src="/assets/js/programs.js"></script>
    <script type="text/javascript">
        window.mdc.autoInit()
        var toolbar = mdc.toolbar.MDCToolbar.attachTo(document.querySelector('.mdc-toolbar'));
        toolbar.fixedAdjustElement = document.querySelector('.mdc-toolbar-fixed-adjust');
        var snackbar = mdc.snackbar.MDCSnackbar.attachTo(document.querySelector('.mdc-snackbar'));
        let drawer = new mdc.drawer.MDCTemporaryDrawer(document.querySelector('.mdc-temporary-drawer'));
        document.querySelector('.menu').addEventListener('click', function(){
            drawer.open = true
        });
    </script>
</body>
</html>