@import url(https://fonts.googleapis.com/css?family=Oswald);

.text-geekinc {
    box-sizing: border-box;
    background-color:white;
    color: black;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 52px;
    text-transform: uppercase;
    height: 77px;
    display: inline-block;
    padding: 0em 0.3em;
    position: fixed;
    bottom: 0.5em;
    left: 1em;
}

.transition {
    /* en mode apparition, on veut que le texte apparaisse vers la fin de l'animation */
    transition: transform 1s, color 2s ease-in-out;
    transform-origin: left;
}

#title.hidden {
    /* en mode disparition, on veut que le texte disparaisse plus tôt pour éviter l'écrasement */
    transition: transform 1s, color 0.5s ease-in-out;
    transform : scaleX(0);
    color: white;
}

* {
    box-sizing: border-box;
}

html{
    background-color: transparent;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
}

.incrust-container {
    display:flex;
    background-image: url(./assets/brick-wall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.incrust-container.hidden {
    display: none;
}

#incrust {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    padding: 25px 300px 110px 300px;
}